﻿@model IEnumerable<Prestamos>

@{
    ViewBag.Title = "Préstamos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Préstamos</h2>

<p>
    @Html.ActionLink("Crear Préstamo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargadores.TipoCargadores.TipoCargador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargadores.TipoCargadores.TipoCargador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios1.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdCargador }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdCargador }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdCargador })
        </td>
    </tr>
}

</table>
