﻿@model Cargadores
@{
    ViewBag.Title = "Eliminar Cargador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar el cargador?</h3>
<div>
    <h4>Cargadores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoCargadores.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCargadores.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCargadores.TipoCargador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCargadores.TipoCargador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a Lista", "Index")
        </div>
    }
</div>
