﻿@model Cargadores
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Cargadores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoCargadores.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCargadores.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCargadores.TipoCargador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCargadores.TipoCargador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdCargador }) |
    @Html.ActionLink("Volver a Lista", "Index")
</p>
