﻿@model IEnumerable<Cargadores>

@{
    ViewBag.Title = "Cargadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cargadores</h2>

<p>
    @Html.ActionLink("Crear Cargador", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCargadores.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCargadores.TipoCargador)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCargadores.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCargadores.TipoCargador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdCargador }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdCargador }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdCargador })
        </td>
    </tr>
}

</table>
